footer{
    @include FC;
    background: $color-dark;
    width: $fullwidth;
    padding-bottom: 25px;
    @include tablet-desktop{
    align-items: center;
    }
}

#logo_footer{
    margin: 20px;
    filter: invert(100%);
    width: 100px;
}

.logo_footer_img{
    width: 100%;
}

.footer_container{
    @include FC;
    width: $fullwidth;
    @include tablet-desktop{
        flex-direction: row;
        justify-content: center;
    }
}

.footer_links{
    @include FR;
    text-decoration: none;
    @include font-txt;
    color: $color-basic;
    margin-bottom: 8px;
    margin-left: 20px;
    align-items: baseline;
}

.contain_footer_txt_icon{
    display: flex;
    width: 10px;
}

.footer_txt_bold{
    margin-left: 15px;
    font-weight: $fontbold; 
}