.fullscreen{
  position: fixed;
  background:white;
  width: 100vw;
  height: 100vh;
  animation: fullscreenanim 2.5s;
  animation-fill-mode: forwards;
}
 
@keyframes fullscreenanim{
  75%{
    opacity: 1;
  }
  
  99%{
    z-index: 100;
  
  }
  
  100%{
    opacity: 0;
    z-index: -1;
  }
}

.loading{
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: auto;
  margin-top: 45vh;
}

.line-primary{
  @include loading-anim;
  animation: rotation-line1 1.2s linear infinite;
  animation-delay: -0.8s;
  border-bottom: 4px solid $color-primary;
}

.line-secondary{
  @include loading-anim;
  animation: rotation-line2 1.2s linear infinite;
  animation-delay: -0.4s;
  border-bottom: 4px solid $color-secondary;
}

.line-tertiary{
  @include loading-anim;
  animation: rotation-line3 1.2s linear infinite;
  animation-delay: 0s;
  border-bottom: 4px solid $color-tertiary;
}


@keyframes rotation-line1{
  0%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  100%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}

@keyframes rotation-line2{
  0%{
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  
  100%{
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}

@keyframes rotation-line3{
  0%{
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  
  100%{
     transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
    
  }
}

.heartfull{
    @include heart;
    transform: scale(0, 0);
    @include tablet{
      @include tabheart;
    }
    @include desktop{
      @include tabheart;
    }
  }
  
  .heartempty{
    @include heart;
    @include tablet{
      @include tabheart;
    }
    @include desktop{
      @include tabheart;
    }
  }
  
  .containheart{
   
    &:hover{
     
      & > .heartfull{
        display: block;
        transition: transform $transitionheart;
        transform: scale(1, 1);
        transform-origin: bottom center;
      }
  
      
      & > .heartempty{
      fill: transparent;
      transition: 2s;
      transform-origin: top center;
      }
      
        }
        .p-rest{
            @include heart-big;
      }
      &:active{

        & > .heartfull{
          display: block;
          transition: transform $transitionheart;
          transform: scale(1, 1);
          transform-origin: bottom center;
        }
    
        
        & > .heartempty{
        fill: transparent;
        transition: 2s;
        transform-origin: top center;
        }
        
          }
          .p-rest{
              @include heart-big;
              @include tablet{
                margin-top: 45px;
              }
              @include desktop{
                margin-top: 45px;
              }
        }

      }
    
  
  
  .check{
    display: flex;
    transform: translateX(105%);
    width: 105px;
    margin-left:-100px;
    justify-content: center;
    align-items: center;
    background: $color-tertiary;
    transition: 2s;

}

.check_icon{
    color: $color-basic;
}

@for $i from 1 through 10 {
  .anim#{$i} {
     animation: progress-menu (0.7s * $i);
  }
}

@keyframes progress-menu {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
    
    50%{
       opacity: 0;
      transform: translateY(10px);
    }
   
  75%{
    opacity: 0.5;
  }
   
    85%{
      opacity: 0.8;
    }
   
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  }