.contain_btn_explore, .contain_btn_command{
    display: flex;
    justify-content: center;
}

.btn_explore{
    @include buttons;
    margin-top: 30px;
    padding: 20px;

    &:hover{
        @include buttons-hover;
    }
}

.btn_command{
    @include buttons;
    padding: 15px 45px 15px 45px;
    margin-top: 10px;

    &:hover{
        @include buttons-hover;
    }
}