.heartfull{
    @include heart;
    transform: scale(0, 0);
  }
  
  .heartempty{
    @include heart;
  }
  
  .containheart{
   
    &:hover{
     
      & > .heartfull{
        display: block;
        transition: transform 2s;
        transform: scale(1, 1);
        transform-origin: bottom center;
      }
  
      
      & > .heartempty{
      fill: transparent;
      transition: 3s;
      transform-origin: top center;
      }
      
        }
        .p-rest{
            @include heart-big;
      }
  }
  