.img_container{
    display: flex;
    width: $fullwidth;
    height: 285px;
    overflow: hidden;

    .img_restaurants{
    width: $fullwidth;
    display: flex;
    align-self: center;
}
}

.container_menus{
    width: $fullwidth;
    background: $background-light;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -57px;
}

.name-logo{
    @include FR;
    width: $fullwidth;
    justify-content: space-between;
}

h1.restaurants_name{
    @include font-title;
    margin-top: 40px;
    margin-left: $margin-l-base;
}

.bloc_menus{
    width: $fullwidth;
    margin-bottom: 37px;
}

h3{
    @include font-txt;
    font-weight: $fontlight;
    margin-left: $margin-l-base;
    margin-bottom: 4px;
}

.line{
    width: 47px;
    height: 3px;
    background: $color-tertiary;
    margin-left: $margin-l-base;
    margin-bottom: $margin-b;
}

.big_bloc_dish{
    @include FR;
    @include boxs;
    width: 92%;
    border-radius: 15px;
    margin-bottom: $margin-b;
    box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.15);
    justify-content: space-between;
    overflow: hidden;
    

    &:hover{
        & > .check{
            display: flex;
            transform: translateX(0%);
            transform-origin: right center;
            transition: 2s;
            margin-left: 0;

            & > .check_icon{
                transform: rotate(360deg);
                transition: 2500ms;
            }
        }


    }
}

.bloc_dish{
    @include FC;
    @include txt-overflow;
    width: $fullwidth;
}


.dish_title{
    @include font-txt;
    @include txt-overflow;
    font-weight: $fontbold;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-top: $margin-b;
    margin-bottom: 7px;
    margin-right: 65px;
}

.dish_details{
    @include FR;
    justify-content: space-between;
}

.dish_details_txt{
    @include font-txt;
    @include txt-overflow;
    font-weight: $fontlight;
    margin-left: 10px;
    margin-bottom: 13px;
    font-size: 0.9rem;
    margin-right: 10px;
}

.dish_details_price{
    @include font-txt;
    font-weight: $fontbold;
    margin-right: 20px;
    margin-left: 50px;
}

