@mixin FR{
    display: flex;
    flex-direction: row;
}

@mixin FC{
    display: flex;
    flex-direction: column;
}

@mixin font-title{
    font-family: shrikhand;
    color: black;
}

@mixin font-txt{
    font-family: roboto;
    color: black;
}

@mixin shadows{
    box-shadow: 0px 6px 9px -1px rgba(0,0,0,0.25);
}

@mixin restaurant-txt{
    text-decoration: none;
    @include font-txt;
    margin-left: 10px;
}

@mixin boxs{
    margin-left: auto;
    margin-right: auto;
}

@mixin buttons{
    display: flex;
    margin-bottom: 57px;
    border-radius: 35px;
    background: linear-gradient($color-secondary, $color-primary);
    border: none;
    color:$color-basic;
    font-family: roboto;
    font-weight: $fontbold;
    cursor: pointer;
    @include shadows;
}

@mixin buttons-hover{
    background: linear-gradient($color-secondary-light, $color-primary-light);
    box-shadow: 0px 6px 9px -1px rgba(0,0,0,0.45);
}

@mixin heart{
    position: absolute;
    right: 15%;
    margin-top: 20px;
    text-decoration: none;
}

@mixin heart-big{
    position: absolute;
    margin-top: 37px;
    right: 7%;
}

@mixin heart-full{
    transform: scale(1, 1);
    transform-origin: bottom center;
    transition: transform 2s;
    display: block;
}

@mixin heart-fill{
    transform-origin: top center;
    color: transparent;
    transition: 4000ms;
}

@mixin txt-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin loading-anim{
    position: absolute;
    border-radius: 50%;
    width:10vw;
    height:10vw;
    transform-origin: 50% 50%;
}

@mixin mobile-only{
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin tablet-desktop{
    @media screen and (min-width: map-get($breakpoints, tablet-desktop)){
        @content;
    }
}

@mixin flexRW{
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin tabheart{
    right: auto;
    margin-left: -55px;
}