$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-dark: #353535;
$color-basic: white;
$color-primary-light: lighten($color-primary, 5%);
$color-secondary-light: lighten($color-secondary, 5%);
$background-dark: #EAEAEA;
$background-light: #F6F6F6;
$fullwidth: 100%;
$centerwidth: 85%;
$fontlight: 300;
$fontbold: 500;
$color-tertiary-dark: darken($color-tertiary,40%);
$margin-l-base: 26px;
$margin-b: 15px;
$gradiant: linear-gradient($color-secondary, $color-primary);
$margin-queries: -15%;
$width4k: 1600px;
$breakpoints:(
    mobile: 767px,
    tablet: 768px,
    desktop: 1270px
);

$transitionheart: 1.1s;
